* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 1080px;
    margin: auto;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

.btn_main {
    color: white;
    background-color: #ff7a59;
    padding: 12px 16px;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    margin-left: 6px;
    margin-right: 6px;
}

.btn_main:hover {
    opacity: 0.8;
}

.btn_alternative {
    color: #ff7a59;
    background-color: white;
    padding: 12px 16px;
    border: 1px solid #ff7a59;
    font-weight: bold;
    border-radius: 3px;
    margin-left: 6px;
    margin-right: 6px;
}

.btn_alternative:hover {
    background-color: #ffe4dd;
}

body {
    font-family: 'Baloo Chettan 2', cursive;
}

#header-top {
    background-color: #f5f8fa;
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    line-height: 90px;
    border-bottom: 1px solid lightgrey;
}


#header-top-left {
    float:left;
    width: 50%;
    height: 90px;
}

.header-top-nav {
    float: left;
    color: #33475b;
    font-size: 22px;
    font-weight: 500;
}
#header-top-left a:first-child div {
    padding-right: 20px;
    padding-left: 5px;
}

.fa-globe-europe {
    color: #33475b;
    padding: 0 5px;
}

.fa-caret-down {
    color: #93aac3;
    padding: 0 5px;
}

#header-top-left a:last-child div {
    padding-left: 20px;
}

#header-top-right {
    float:left;
    width: 50%;
    height: 90px;
    text-align: right;
}

#header-top-right .fa-search {
    color: #00a4bd;
    padding: 0px 10px;
}

#header-bottom {
    margin-top: 90px;
    height: 90px;
    background-color: white;
}

#header-bottom-left {
    float: left;
    width: 25%;
}

#header-bottom-left img {
    padding-top: 28px;
}

#header-bottom-right {
    float: left;
    width: 75%;
    height: 90px;
    text-align: right;
    line-height: 90px;
    font-size: 22px;
}

#header-bottom-right ul {
    list-style-type: none;
}

#header-bottom-right ul li {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}

#jumbo-wrapper {
    background-color: #fff2ee;
    height: 700px;
}

#jumbo {
    width: 50%;
    margin-top: 100px;
}

#jumbo {
    width: 40%;
}

#jumbo h1 {
    font-size: 55px;
    line-height: 55px;
}

#jumbo p {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#jumbo div {
    width: 50%;
}

#jumbo div button {
    margin: 0;
    width: 100%;
    padding: 18px 0;
    font-size:20px;
    font-weight: normal;
}

#jumbo div p {
    font-size: 14px;
}

#select-plan-wrapper {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #f5f8fa;
}

#plan-description {
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 21px;
    font-size: 19px;
}

#plan-description h2 {
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 15px;
}

.plan {
    padding: 18px;
    float: right;
    width: 66%;
    margin-bottom: 21px;
    background-color: white;
    border: 2px solid #f0f2f3;
}

.plan:hover {
    transform: scale(1.01, 1.01);
}

.plan-title-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.plan-title-row img {
    vertical-align: middle;
    padding-right: 10px;
}

.plan-title-row h3 {
    font-size: 30px;
    display: inline-block;
}

.plan p {
    margin-bottom: 20px;
    font-size: 18px;
}

.plan ul {
    padding-top: 20px;
    list-style-type: none;
}

.plan ul p {
    text-transform: uppercase;
    font-weight: bold;
}

.row:first-child .plan li {
    display: inline-block;
    padding-right: 6px;
}

.fa-check-square {
    color: #ff7a59;
    padding-right: 6px;
}
.plan button {
float: right;
width: 250px;
}

.row:first-child .plan ul li:last-child {
text-align: right;
}

.row:nth-child(2) .plan {
    float: left;
    width: 32%;
}

.row:nth-child(2) .plan:nth-of-type(2) {
    margin-left: 2%;
    margin-right: 2%;
}

.row:nth-child(2) .plan button {
margin-top: 20px;
width: 100%;
}

#statistics {
    background-image: linear-gradient(to right, #00a5bb, #00b6ad);
    color: white;
    padding-bottom: 100px;
}

#statistics-title {
    width: 65%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

#statistics-title h4 {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 20px;
}

#statistics-title p {
    font-size: 18px;
    margin-bottom: 100px;
}

.data-square {
    float: left;
    width: 25%;
    text-align: center;
    border-right: 1px solid white;
}

.data-row:first-child .data-square {
    border-bottom: 1px solid white;
}

.data-square:last-child {
    border: none;
}

.data-square img {
margin-top: 40px;
}

.data-square p {
 font-size: 60px;
 font-weight: bold;
}

.data-square h5 {
    font-size: 18px;
    margin-bottom: 40px;
}

.data-row:last-child .data-square:last-child img {
    margin-top: 50px;
}

#customers {
    background-color: white;
}

#customers-logo-row {
    height: 300px;
    margin-top: 80px;
}

#customers-logo-row-left {
    float: left;
    width: 32%;
    height:300px;
    padding-top: 30px;
}

#customers-logo-row-left p:first-child {
    font-size: 55px;
    font-weight: bold;
}

#customers-logo-row-left p:last-child {
    font-size: 22px;
}

#customers-logo-row-left span {
    font-size: 28px;
    font-weight: bold;
}

#customers-logo-row-right {
    float: left;
    width: 68%;
    height:300px;
    padding-top: 20px;
    padding-left: 150px;
}

.customer-logo-square {
    height: 100px;
    float: left;
    width: 25%;
    text-align: center;
}

.customer-logo-square img {
    width: 80%;
    height:100%;
    object-fit: contain;
}

#customer-jumbotron {
    height: 450px;
    text-align: right;
    margin-top: 40px;
    margin-bottom: 80px;
}

#customer-jumbotron-text {
    float: left;
    width: 45%;
    text-align: left;
}

#customer-jumbotron-text h6 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

#customer-jumbotron-text p {
    font-size: 19.1px;
}

#customer-jumbotron-text button {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0px;
    padding: 30px;
    font-size: 18px;
}

#customer-jumbotron-text p:last-child {
    font-size: 14px;
}

#customer-jumbotron img {
    height: 100%;
    object-fit: contain;
}

footer {
    background-color: #33475b;
    color: #cbd6e2;
}

#site-map {
    padding-top: 70px;
    padding-bottom: 40px;
    width: 100%;
}

.site-map-column {
    float: left;
    width: 25%;
    height: 100%;
    font-size: 20px;
    line-height: 35px;
}

.site-map-column ul {
    list-style-type: none;
}

.site-map-column ul p {
    color: white;
    font-weight: bold;
}

.site-map-column a {
    color: #cbd6e2;
    text-decoration: none;
}

.site-map-column li:hover a {
    color: lightblue;
}

#contacts-row {
    text-align: right;
}

#contacts-row button {
    padding: 15px;
    margin-right: 90px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
}

#contacts-row i {
    font-size: 24px;
    padding: 11.4px;
}

#contacts-row a {
    color: #cbd6e2;
    text-decoration: none;
}

#contacts-row a:hover {
        color: lightblue;
}

#languages {
    height: 80px;
    margin-top: 20px;
    text-align: center;
}

#languages ul {
    list-style-type: none;
}

#languages li {
    display: inline-block;
    padding: 20px;
}

#languages a {
    font-weight: bold;
    text-decoration: none;
    color: #cbd6e2;
}

#languages li:hover a {
    color: lightblue;
}

#colophon {
    margin-top: 35px;
    padding-bottom: 60px;
    height: 80px;
    width: 100%;
}

#colophon-left {
    float: left;
}

#colophon-right {
    float: right;
    text-align: right;
}

#colophon-right ul {
    list-style-type: none;
}

#colophon-right ul li {
    display: inline-block;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 20px;
}

#colophon-right ul li a {
    text-decoration: none;
    color: #cbd6e2;
}

#colophon-right ul li:hover a {
    color: lightblue;
}

#help {
    position: fixed;
    background-color: #33475b;
    bottom: 10px;
    right: 25px;
    cursor: pointer;
    border-radius: 50%;
}

#help img {
    padding: 12px;
    vertical-align: middle;
}

#help:hover {
    transform: scale(1.1, 1.1);
}
